*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/*HEADER*/
.page-header{
    
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: lightblue;
    


}


.logo-section{
    background-color: orange;
    margin: 2px dashed black;
    padding: 2px 2px;
    min-width: 100px;
    text-align: start;
    


}
.link-section{
    background-color: orange;
    padding: 2px 2px;
    min-width: 100px;
    

}
.login-section{
    background-color: orange;
    padding: 2px 2px;
    min-width: 100px;
    text-align: end;

}


/*container-1*/
.container-1{
    flex-wrap: wrap;
    display: flex;
    background-color: indigo;
    height: 150px;
    align-content: center;
    justify-content: center;
}


.purple{background-color: violet;
    height: 120px;
    width: 300px;

}

/*container-2*/
.container-2{
    display: flex;
    background-color: white;
    height: 200px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.blue1{
    background-color: blue;
    width: 220px;
    height: 150px;
}
.pink1{
    background-color: pink;
    height: 150px;
    width: 150px;
}

/*section3*/
.container-3{ display: flex;
    background-color: lightgray;
    height: 200px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.pink2{
    background-color: pink;
    height: 150px;
    width: 150px;

}
.blue2{
    background-color: blue;
    width: 220px;
    height: 150px;
}

/*section4*/


