*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/*HEADER*/
.page-header{
    
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: lightblue;
    


}


.logo-section{
    background-color: orange;
    margin: 2px dashed black
    

}
.link-section{
    background-color: orange;

}
.login-section{
    background-color: orange;

}